.container div div{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    

}
.container-1, .container-2{
    border: 1px solid black;
margin: 10px;
padding: 30px;
}




.container-3 div, .container-4 div, .container-5 div {
    border: solid 1px black;
}
.container-3, .container-4, .container-5{
display: flex;
justify-content: space-between;

}
.container-3-box{
    height: 100px;
    width: 100%;
    align-items: center;
    padding: 40px;
}
.container-4-box{
    height: 100px;
    width: 100%;
    align-items: center;
    padding: 40px;
}
.container-5-box{
    height: 100px;
    width: 100%;
    align-items: center;
    padding: 40px;
}
.header{
    border: 1px solid black;
    height: 50px;
    display: flex;
    
   
}
.navbar li{
    display: inline;

}
.navbar {
    margin-left: 80%;
}
.footer{

width: 100%;
min-height: 100vh;
border: 1px solid black;

padding: 30px;
margin-top: 150px;
flex-direction: column;
display: flex;
}